@import "tailwindcss";

@import "tailwindcss";

@theme {
    --font-sans: var(--font-inter);
  /* Tu paleta de colores monolítica institucional */
  --color-stone-950: #0c0a09; /* Fondo global profundo */
  --color-stone-900: #1c1917; /* Fondo de tus tarjetas de actividades */
  --color-stone-50: #f5f5f4;  /* Textos y contrastes premium */
  --color-red-600: #dc2626;   /* Tu rojo institucional red-600 de la bandera */

  /* Tus tokens numéricos de espaciado elástico responsivo */
  --spacing-pad-desktop: 80px; /* Tu padding horizontal de Desktop intocable */
  --spacing-gap-md: 40px;      /* El gap que soldó tus grillas 2x3 y 2x2 */
  --spacing-gap-sm: 16px;      /* Separación interna de textos/botones */

  /* El corner-radius premium de tus tarjetas */
  --radius-card-premium: 16px;
}

